.Product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Product button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
}


.Product button:disabled {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: white;
    cursor: default;
}

.Product button:hover:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 120px;
}

.Product .Less {  
    background-color: #ccc;
    color: white;
}

.Product .More {
    background-color: #ccc;
    color: white;
}

.Product .Less:hover, .Product .Less:active {  
    background-color: #E0E0E0;
    color: white;
}

.Product .More:hover,.Product .More:active {
    background-color: #E0E0E0;
    color: white;
}
.Product .totalPriceValue { 
    margin-left:60px
}